header{
    background: blue;
}

div{
    margin-top: 5px;
}

.todo {
    background: yellow;
    width: 400px;
}

body{
    display: flex;
    justify-content: center;
}

h2{
    width: 80%;
}

span{
    width: 10%;
    float: right;
}

img{
    width: 100%;
}

.titulo{
    display: flex;
}