body{
    background: lightgray;
    margin: 0;
}

header{
    padding: 10px;
    background: white;
}

h1{
    margin: 0;
}

body{
    background: lightgray;
}

.post {
    background: white;
    margin-top: 30px;
}

.container{
    width: 600px;
    margin: auto;
}

.post img{
    width: 100%;
}

.post h2, .post p{
    padding: 10px;
    margin: 0;
}

.post-header div:first-child{
    display: inline-block;
    width: 80%;
}

.post .post-header div:last-child{
    display: inline-block;
    width: 20%;
    text-align: right;
    color: lgightgray;
}

